.HomePageWrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  display: flex;
  flex-direction: column;
}
.imgcode {
  height: 180px;
  width: 240px;
  margin-bottom: 30px;
}
.FormWrapper {
  background: linear-gradient(-135deg, #333133, rgb(42, 63, 70));
  padding: 20px;
  /* border: 3px solid white; */
  border-radius: 10px;
  max-width: 90%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.CreateNewBtn {
  color: #4aedbb;
  text-decoration: none;
  border-bottom: 1px solid #4aedbb;
  transition: all 0.4s ease-in-out;
}
.CreateNewBtn:hover {
  color: #368654;
  border-bottom: #368654;
}
.createInfo {
  margin: 0 auto;
  margin-top: 20px;
  font-size: 16px;
}

.inputGroup {
  display: flex;
  flex-direction: column;
}
.mainlabel {
  margin-bottom: 20px;
  margin-top: 0px;
}
.inputBox {
  padding: 10px;
  border-radius: 10px;
  outline: none;
  border: none;
  margin-bottom: 17px;
  background: wheat;
  font-size: 16px;
  font-weight: bold;
}
.btn {
  border: none;
  padding: 10px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.joinbtn,
.leavebtn {
  background: #4aedbb;
  width: 100px;
  margin-left: auto;
  margin-bottom: 5px;
}
.joinbtn:hover {
  background: #2bb24c;
}
.mainWrapper {
  display: grid;
  grid-template-columns: 230px 1fr;
}
.aside {
  background: linear-gradient(-135deg, #444344, rgb(65, 88, 95));
  box-shadow: 0 4px 8px 0 rgba(49, 48, 48, 0.2);
  padding: 16px;
  padding-top: 0px;
  color: white;
  display: flex;
  flex-direction: column;
}
.asideinner {
  flex: 1;

}
.clientList {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.client {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
}
.username {
  margin-top: 8px;
}
.asidelogo {
  border-bottom: 3px solid #424242;
  padding-bottom: 5px;
  margin-top: auto;
  height: 100px;
}
.videocall{
  display: flex;
  flex-direction: row;
  margin-top: 2px;
  
  justify-content: center;
  box-shadow: 0px 20px 20px #0000002e;
  border-radius: 1rem;
  margin-bottom: 5px;
}
.videologo{
  width: 15%;
  height: 15%;
  margin-top: 1rem;
  margin-right: 5px;
}
.videocall p{
  font-weight: bold;
  color: rgb(243, 245, 125);
  border: 1px  rgba(64, 130, 192, 0.568);
}
.calllink{
  text-decoration: none;
  
}
.calllink :hover{
  background-color: rgba(64, 130, 192, 0.568) ;
  transition: all 0.6s ease;
}
.leavebtn {
  margin-top: 20px;
  width: 100%;
}
.leavebtn:hover {
  color: red;
  font-weight: bold;
  background: #2bb24c;
}
.CodeMirror {
  min-height: calc(100vh - 20px);
  font-size: 20px;
  line-height: 1.6;
  padding-top: 20px;
}
footer {
  margin-top: 8px;
  box-shadow: 0px 20px 20px #0000002e;
  text-align: center;
  padding: 5px 0;
  border-radius: 2rem;
  margin-bottom: -2.4rem;
}
.footer-logo {
  margin-bottom: 10px;
  width: 180px;
}
footer .footer-socials a {
  margin-right: 1rem;
  margin-left: 3px;
}
footer .footer-socials a img {
  background: black;
  border-radius: 0.9rem;
}
